doctype html
html(lang='en')
    head
        include header.pug
        title=title
    body
        header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
            a.navbar-brand.col-md-3.col-lg-2.me-0.px-3.fs-6(href='/') Plumb-All Call Log
        .container-fluid
            .row
                main.col-12
                    block content


        include footer.pug
        block footerScripts
